@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    max-height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    min-height: 100%;
}

.flex-container {
    text-align: center;
    background-color: #09206b;
    height: 4rem;
    margin-bottom: 2rem;
}

.flex-container p {
    color: #f1f1f1;
    padding-top: 1rem;
}

.first-container {
    text-align: center;
    line-height: 2rem;
    border: 2px solid;
    width: 35rem;
    margin: 0px auto;
    border-radius: 6px;
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.first-container h2 {
    color: rgb(66, 66, 66);
    font-size: 21px;
    margin-top: 3rem;
}

.first-container p {
    font-size: 14px;
    color: rgb(66, 66, 66);
}

.start-btn {
    margin-top: 4rem;
}
.start-btn a {
    padding: 18px 100px;
    font-size: 24px;
    /* font-weight: bold; */
    color: #ddd;
    background: #d00;
    border: 2px solid #d00;
    border-radius: 6px;
    margin: 2rem auto;
    cursor: pointer;
    text-decoration: none;
}

.start-btn a:hover {
    color: #f1f1f1;
}

/* Footer  */
footer {
    height: 100px;
    text-align: center;
    background-color: #fff;
    clear: both;
    position: relative;
}
.social-icons {
    margin: 14px;
}
.copyright {
    color: #868686;
    font-size: 14px;
}
.social-icons a {
    font-size: 35px;
    margin: 3px;
}
#facebook {
    color: #4267B2
}
#twitter {
    color: #1da1f2;
}
#linkedin {
    color: black;
}

@media screen and (max-width: 583px) {
    .first-container h2 {
        font-size: 16px;
    }

    .first-container p {
        font-size: 12px;
    }

    .first-container {
        line-height: 1.7rem;
        width: 97%;
        margin: 0px auto;
        border: none;
    }

    footer {
        margin-top: calc(100vh - 700px);
    }

    .copyright {
        font-size: 12px;
    }
}

@media screen and (max-width: 410px) {
    body {
        min-height: 100%;
    }
    .first-container p {
        font-size: 10px;
    }

    .first-container h2 {
        font-size: 13px;
    }

}