@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
  }

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container > div {
    color: #f1f1f1;
    width: 100%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #09206b;
    margin-bottom: 1rem;
}

#time, .progress p {
    font-size: 17px;
    color: #dfdfdf;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.prev button, .next button {
    padding: 7px 23px;
    border: 2px solid #09206b;
    border-radius: 4px;
    font-size: 15px;
    color: #09206b;
    cursor: pointer;
}

.question-wrapper {
    text-align: center;
    margin-top: 2rem;
    color: rgb(49, 49, 49);
}

