@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container > div {
    color: #f1f1f1;
    width: 100%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #09206b;
    margin-bottom: 1rem;
}

#time, .progress p {
    font-size: 17px;
    color: #dfdfdf;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.prev button, .next button {
    padding: 7px 23px;
    border: 2px solid #09206b;
    border-radius: 4px;
    font-size: 15px;
    color: #09206b;
    cursor: pointer;
}

.question-wrapper {
    text-align: center;
    margin: 10px;
    color: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    margin: 3rem;
    /* background-color: #fff; */
}

.question {
    text-align: center;
}

.question p, .answer p {
    font-size: 14px;
    color: #606060;
    margin-bottom: 1rem;
}

.answer p {
    font-size: 14px;
    color: #606060;
    margin-bottom: 2rem;
}

.question img {
    width: 275px;
}

.answer {
    display: grid;
    margin: 25px;
    border-left: 2px solid #000;
    padding-left: 1rem;
}

.answer-top, .special {
    display: flex;
    margin-bottom: 5px;
}

.answer-top input, .special input {
    margin-right: 1px;
    margin-top: -16px;
}

#answerTop {
    margin-left: 2rem;
}

#answerAlone {
    margin-left: 4px;
}

.answer-top p, .special p {
    padding-right: 10px;
    font-size: 22px;
}
.answer-top img {
    width: 80px;
    cursor: pointer;
    padding: 0 2px;
}

.special img {
    width: 150px;
    cursor: pointer;
    padding: 0 2px;
}

.special img:hover {
    background-color: #426cf7;
    color: #fff;
    border-radius: 5px;
}

.answer-top img:hover {
    background-color: #426cf7;
    color: #fff;
    border-radius: 5px;
}

.action {
    text-align: center;
}

.label {
    font-size: 12px;
    color: red;
}

.action button {
    padding: 18px 100px;
    font-size: 24px;
    color: #ddd;
    background: #d00;
    border: 2px solid #d00;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

#q4A, #q4B, #q4C, #q4D {
    margin-right: 6px;
    margin-top: -92px;
}

@media screen and (max-width: 583px) {
    .question-wrapper {
        display: grid;
    }

    .question p, .answer p {
        font-size: 12px;
    }

    .answer {
        margin: 2rem auto;
    }

    .question img {
        width: 160px;
    }

    .answer-top img {
        width: 60px;
    }

    .special img {
        width: 89px;
    }

    #q4A, #q4B, #q4C, #q4D {
        margin-top: -32px;
    }
}

