@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Lato', sans-serif;
    background-color: #f1f1f1;
}

.waiting {
    /* height: calc(90vh - 90px); */
    margin-top: 5%;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container > div {
    color: #f1f1f1;
    width: 100%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #09206b;
    margin-bottom: 1rem;
}

#time, .progress p {
    font-size: 17px;
    color: #426cf7;
    text-align: center;
}

#time {
    padding: 4px 11px;
    width: 65px;
    margin: 0 auto;
    background: #09206b;
    border-radius: 4px;
    color: #f1f1f1;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 11rem;
    margin-right: 4%;
    margin-left: 4%;
}

.prev button, .next button {
    padding: 16px 21px;
    /* border: 2px solid #09206b; */
    border: none;
    border-radius: 50%;
    font-size: 15px;
    color: #09206b;
    cursor: pointer;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.question-wrapper {
    text-align: center;
    color: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    margin-top: -12rem;
    margin-bottom: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

.question {
    text-align: center;
}

.question p, .answer p {
    font-size: 14px;
    color: #606060;
    margin-bottom: 1rem;
}

.answer p {
    font-size: 14px;
    color: #606060;
    margin-bottom: 2rem;
}

.question img {
    width: 275px;
}

.answer {
    display: grid;
    margin: 25px;
    border-left: 2px solid #000;
    padding-left: 1rem;
}

.answer-top, .special {
    display: flex;
    margin-bottom: 5px;
}

.answer-top input, .special input {
    margin-right: 1px;
    margin-top: -16px;
}

#answerTop {
    margin-left: 2rem;
}

#answerAlone {
    margin-left: 4px;
}

.answer-top p, .special p {
    padding-right: 10px;
    font-size: 22px;
}
.answer-top img {
    width: 80px;
    cursor: pointer;
    padding: 0 2px;
}

.special img {
    width: 105px;
    cursor: pointer;
    padding: 0 2px;
}

.special img:hover {
    background-color: #426cf7;
    color: #fff;
    border-radius: 5px;
}

.answer-top img:hover {
    background-color: rgb(197, 197, 197);
    color: #fff;
    border-radius: 5px;
}

.action {
    text-align: center;
}

.label {
    font-size: 12px;
    color: red;
    margin-bottom: 8px;
}

.action button {
    padding: 18px 100px;
    font-size: 24px;
    color: #606060;
    background: transparent;
    border: 2px solid #09206b;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #09206b 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .7s ease-out;
}
.action button:hover {
    background-position: left bottom;
    /* background: linear-gradient(90deg, rgba(12,51,133,1) 0%, rgba(9,9,121,1) 44%, rgba(0,212,255,1) 100%); */
    /* background: #09206b; */
    color: #ddd;
}

.answer-diff, .answer-diff-top {
    display: flex;
    margin: 95px 0 0 -5px;
}

.answer-diff input, .answer-diff-top input {
    margin: 0 8px 0 8px;
}

.answer2 {
    padding-left: 21px;
}

#answerDiff {
    margin-left: 2rem;
}

.score-container {
    background-color: #fff;
    width: max-content;
    text-align: center;
    padding: 3rem 23% 5rem 23%;
    margin: 1.5rem auto;
    border-radius: 4px;
}

@media screen and (max-width: 833px) {
    .buttons {
        margin-top: 0;
    }

    .question-wrapper {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .question img {
        width: 240px;
    }

    .answer-top img {
        width: 60px;
        cursor: pointer;
        padding: 0 2px;
    }
}

@media screen and (max-width: 583px) {
    .action button {
        padding: 10px 80px;
        font-size: 15px;
    }

    .answer-diff-top {
        margin-top: 45px;
    }

    .answer-diff {
        margin: 27px 0 26px -5px;
    }

    .question-wrapper {
        display: grid;
        margin: 1rem 0 0 0;
    }

    .question p, .answer p {
        font-size: 12px;
    }

    .answer {
        margin: 2rem auto;
    }

    .question img {
        width: 160px;
    }

    .answer-top img {
        width: 60px;
    }

    .special img {
        width: 89px;
    }

    .answer2 {
        margin: -2rem auto;
        padding: 0 0 1rem 0;
    }

    .score-container {
        padding: 1rem 15% 4rem 15%;
        margin: 2rem auto 2rem auto;
    }

    
}


@media screen and (max-width: 375px) {
    .score-container {
        padding: 1rem 6% 4rem 6%;
    }
}

@media screen and (max-width: 320px) {
    .score-container {
        padding: 1rem 3% 4rem 3%;
    }
}

